<!DOCTYPE html>
<html>
<head>
  <title>{{job.title}} - DemandData Careers</title>
  {% include 'bootstrap.html' %}
</head>
<body>
  {% include 'nav.html' %}
  {% include 'banner.html' %}
  <div class="container">
    <h1 class="text-center mt-2 mb-4">DemandData Careers</h1>
    
    <h4 class="mb-2">{{job.title}}</h4>
    <p class="lead mt-0">{{job.location}}</p>
    
    <h5>Responsibilities</h5>
    <ul>
      {% for line in job.responsibilities.split("\n") %}
       <li>{{line}}</li> 
      {% endfor %}
    </ul>
    
    <h5>Requirements</h5>
    <ol>
      {% for line in job.requirements.split("\n") %}
        <li>{{line}}</li>
      {% endfor %}
    </ol>
      
    <h5>Salary</h5>
    <p>₹{{job.salary}}</p>
    {% include 'application_form.html' %}
  </div>
  {% include 'footer.html' %}
</body>
</html>